# Dependencies
node_modules/

# Production builds
dist/
build/

# Environment variables (sensitive info)
.env
.env.development
.env.test
.env.production

# Logs
npm-debug.log*

# intelliJ IDEA project files
.idea/

# dont include http request folder from the backend directory
backend/requests/

#frontend env files
frontend/.env.development
frontend/.env.production