# Dependencies
node_modules/

# Production builds
dist/
build/

# Environment variables (sensitive info)
.env
.env.development
.env.test
.env.production

# Logs
npm-debug.log*

# intelliJ IDEA project files
.idea/

#frontend env files
frontend/.env.development
frontend/.env.production


#ignore docker files
docker-compose.yml
Dockerfile
backend/Dockerfile
frontend/Dockerfile